In [14]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [15]:
df = pd.read_csv('McDonalds-Yelp-Sentiment-DFE.csv')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\rOrderProblem\rFilthy,1.0\r0.6667\r0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be..."
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ξI came in at 9:30p...
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\rOrderProblem,1.0\r1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave..."
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo..."

In [16]:
df.dropna

<bound method DataFrame.dropna of        _unit_id  _golden _unit_state  _trusted_judgments _last_judgment_at
0     679455653    False   finalized                   3      2/21/15 0:36  \
1     679455654    False   finalized                   3      2/21/15 0:27
2     679455655    False   finalized                   3      2/21/15 0:26
3     679455656    False   finalized                   3      2/21/15 0:27
4     679455657    False   finalized                   3      2/21/15 0:27
...         ...      ...         ...                 ...               ...
1520  679500008    False   finalized                   3      2/21/15 0:13
1521  679500224    False   finalized                   3      2/21/15 0:27
1522  679500608    False   finalized                   3      2/21/15 0:24
1523  679501257    False   finalized                   3      2/21/15 0:32
1524  679501402    False   finalized                   3      2/21/15 0:27

                      policies_violated policies_violated:confidence
0     RudeService\rOrderProblem\rFilthy          1.0\r0.6667\r0.6667  \
1                           RudeService                            1
2             SlowService\rOrderProblem                     1.0\r1.0
3                                    na                       0.6667
4                           RudeService                            1
...                                 ...                          ...
1520                       OrderProblem                       0.6754
1521       SlowService\rFilthy\rBadFood                1.0\r1.0\r1.0
1522                          ScaryMcDs                       0.6458
1523                          ScaryMcDs                       0.6407
1524             ScaryMcDs\rSlowService                  1.0\r0.6667

             city  policies_violated_gold
0         Atlanta                     NaN  \
1         Atlanta                     NaN
2         Atlanta                     NaN
3         Atlanta                     NaN
4         Atlanta                     NaN
...           ...                     ...
1520     Portland                     NaN
1521      Houston                     NaN
1522     New York                     NaN
1523      Chicago                     NaN
1524  Los Angeles                     NaN

                                                 review
0     I'm not a huge mcds lover, but I've been to be...
1     Terrible customer service. ξI came in at 9:30p...
2     First they "lost" my order, actually they gave...
3     I see I'm not the only one giving 1 star. Only...
4     Well, it's McDonald's, so you know what the fo...
...                                                 ...
1520  I enjoyed the part where I repeatedly asked if...
1521  Worst McDonalds I've been in in a long time! D...
1522  When I am really craving for McDonald's, this ...
1523  Two points right out of the gate: 1. Thuggery ...
1524  I wanted to grab breakfast one morning before ...

[1525 rows x 10 columns]>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _unit_id                      1525 non-null   int64
 1   _golden                       1525 non-null   bool
 2   _unit_state                   1525 non-null   object
 3   _trusted_judgments            1525 non-null   int64
 4   _last_judgment_at             1525 non-null   object
 5   policies_violated             1471 non-null   object
 6   policies_violated:confidence  1471 non-null   object
 7   city                          1438 non-null   object
 8   policies_violated_gold        0 non-null      float64
 9   review                        1525 non-null   object
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 108.8+ KB

In [18]:
df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'policies_violated',
       'policies_violated:confidence', 'city', 'policies_violated_gold',
       'review'],
      dtype='object')

In [19]:
services = np.array(df)[:,:-1]
print(services)

[[679455653 False 'finalized' ... '1.0\r0.6667\r0.6667' 'Atlanta' nan]
 [679455654 False 'finalized' ... '1' 'Atlanta' nan]
 [679455655 False 'finalized' ... '1.0\r1.0' 'Atlanta' nan]
 ...
 [679500608 False 'finalized' ... '0.6458' 'New York' nan]
 [679501257 False 'finalized' ... '0.6407' 'Chicago' nan]
 [679501402 False 'finalized' ... '1.0\r0.6667' 'Los Angeles' nan]]

In [20]:
reviews = np.array(df)[:,-1]
print(reviews)

["I'm not a huge mcds lover, but I've been to better ones. This is by far the worst one I've ever been too! It's filthy inside and if you get drive through they completely screw up your order every time! The staff is terribly unfriendly and nobody seems to care."
 'Terrible customer service. ξI came in at 9:30pm and stood in front of the register and no one bothered to say anything or help me for 5 minutes. ξThere was no one else waiting for their food inside either, just outside at the window. ξ I left and went to Chickfila next door and was greeted before I was all the way inside. This McDonalds is also dirty, the floor was covered with dropped food. Obviously filled with surly and unhappy workers.'
 'First they "lost" my order, actually they gave it to someone one else than took 20 minutes to figure out why I was still waiting for my order.They after I was asked what I needed I replied, "my order".They asked for my ticket and the asst mgr looked at the ticket then incompletely filled it.I had to ask her to check to see if she filled it correctly.She acted as if she couldn\'t be bothered with that so I asked her again.She begrudgingly checked to she did in fact miss something on the ticket.So after 22 minutes I finally had my breakfast biscuit platter.As I left an woman approached and identified herself as the manager, she was dressed as if she had just awoken in an old t-shirt and sweat pants.She said she had heard what happened and said she\'d take care of it.Well why didn\'t she intervene when she saw I was growing annoyed with the incompetence?'
 ...
 "When I am really craving for McDonald's, this seems to be the closest. But I'm no big fan of fast food chains.I don't like this location just because there are bums inside waiting for the bus to go to Atlantic City or whatever...they usually sit and chat and drink some coffee. Same food as any other McDonald's & waitresses are friendly!"
 'Two points right out of the gate: 1. Thuggery knows no race (lily white frat boys from the suburbs can be just as vulgar and aggressive as any group with a gang mentality) 2. Rating a McDonald\'s and McDonald\'s food isn\'t really an essential service; people generally know what they\'re getting - menu and quality wise - going in. The purpose of this review is mostly about the safety factor. People need to know (and I think locals already do) that, depending on the time of day (night), this place is marginally dangerous. Over my last three visits to Chicago, I\'ve noticed this neighborhood being overrun by flash mobs who do more looting, aggressive panhandling, and fighting than choreographed performing. In fact, this particular McDonald\'s had to be closed down for several hours a couple months ago while police attempted to restore order. The Water Tower Place Mall about a block away has seen an increase in gang activity lately, including the arrest of some armed teenagers. This isn\'t just my take (check out some of the other reviews of this place and this neighborhood). Many are pointing out that the Mag Mile is slowly becoming the "Mug Mile." And this McDonald\'s seems to be ground zero for Hip Hop Nation as they pour off the Red Line after taking up two seats on the subway while grandma has to stand. Apologists and the agenda driven will say (and have said): "These kids are guilty of nothing other than being black in a predominantly white neighborhood." Really? Since when does being authentically "black" include screaming nonstop obscenities with little kids around (black and white)? Since when did Chicago get so soft on youth crime? Since when did it become open season on civility? [Since when did my reviews start reading like the rantings of some terrified reactionary/fascist?] While it\'s mildly funny that Katelyn, Emily, Ashley, and their dolly buying mommies must sometimes contend with this thuggery after they leave the American Girl Doll store, nobody (not even the over-privileged, country club set) should have to endure this genuinely menacing behavior. And youth thugs (of any race) should NOT be permitted to turn this area into the "Wild mid-West." Just a thought, Rahm - do what you want with it.'
 "I wanted to grab breakfast one morning before work since it's just across the street, but the restaurant was filled with homeless people! It's like their hangout spot... I waited a lot longer than I needed to just to order. If they didn't have bums loitering around, maybe would have added one more star. The staff is not the problem, they look like they actually have to deal with a lot if problematic people. They should focus on making the place a little pleasant for their guest. No one wants to eat their burger while having to endure the smell if urine lingering off a homeless person."]

In [40]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [56]:
def text_blob(reviews):
    for i in range(0,len(reviews)):
        review = TextBlob(reviews[i])
        print(review.sentiment)

In [24]:
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [27]:
def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation)) #Remove all the punctuations to empty string
    text = re.sub(r'\d+', '', text)
    return text

In [60]:
def analyze_sentiment(text_blob):
    sentiments = []
    for review in reviews:
        analysis = TextBlob(review)
        polarity = analysis.sentiment.polarity
        
        if polarity > 0:
            sentiments.append('Positive')
        elif polarity == 0:
            sentiments.append('Neutral')
        else:
            sentiments.append('Negative')
    
    return sentiments
analyze_sentiment(reviews)

['Neutral']

In [51]:
for review in reviews:
    cleaned_review = clean_text(review)
print(cleaned_review)